<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:type" content="{% if page.title %}article{% else %}website{% endif %}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:image" content="{{ site.url }}/{{ site.og_image }}" />
<meta property="article:author" content="{{ site.owner_link }}" />
<meta content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" name="description" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{{ site.twitter_handle }}" />
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
<meta name="twitter:image" content="{{ site.url }}/{{ site.twitter_image }}" />
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
