<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:type" content="{% if page.title %}article{% else %}website{% endif %}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:image" content="{{ site.url }}/{% if page.image %}img/og/posts/{{ page.image }}{% else %}{{ site.og_image }}{% endif %}" />
<meta property="article:author" content="{{ site.owner_link }}" />
<meta content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" name="description" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{{ site.twitter_handle }}" />
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
<meta name="twitter:image" content="{{ site.url }}/{% if page.image %}img/twitter/posts/{{ page.image }}{% else %}{{ site.twitter_image }}{% endif %}" />
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
<meta property="fb:pages" content="327878177569464" />
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
{% if page.path contains '_posts' %}
  <link rel="amphtml" href="{{ page.id | prepend: '/amp' | prepend: site.baseurl | prepend: site.url }}">
{% endif %}
