<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" name="description" />
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />