---
title: Projects
layout: page
description: "Here are the projects, ordered by date covered, that our interviewees contribute to."
show_in_nav: true
---

<p>Here are the projects, ordered by date covered, that our interviewees contribute to:</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Person</th>
      <th>Project</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {% for post in site.posts %}
      {% for project in post.projects %}
        <tr>
          <td><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></td>
          <td><a href="{{ project.link }}" target="_blank">{{ project.name }}</a></td>
          <td>{{ post.date | date: "%b %-d, %Y" }}</td>
        </tr>
      {% endfor %}
    {% endfor %}
  </tbody>
</table>
