<p>Get these personal stories delivered directly to your inbox. (With a promise of nothing else.)</p>
<form action="//theinitialcommit.us14.list-manage.com/subscribe/post?u=5159533459b33024e54e43c87&amp;id=adcebaa57e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5159533459b33024e54e43c87_adcebaa57e" tabindex="-1" value=""></div>
  <div class="input-group">
    <label for="mce-EMAIL" class="sr-only">Email Address</label>
    <input class="form-control input-sm" type="email" id="mce-EMAIL" name="EMAIL" placeholder="Email Address" />
    <span class="input-group-btn">
      <button type="submit" class="btn btn-sm btn-primary">Sign Up</button>
    </span>
  </div>
</form>
