<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    {% include global/device_meta.html %}
    {% include global/seo.html %}
    {% include global/header_includes.html %}
  </head>
  <body role="document" class="{{ page.layout }} {{ page.slug }}">
    {% include global/pre_content_includes.html %}
    <div class="container-fluid">
      <div class="row">
        <div class="header col-md-4">
          <header class="header-inner">
            <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
            <p class="description">{{ site.description }}</p>
            <ul class="nav">{% for link in site.pages %}{% if link.title %}{% if link.show_in_nav %}<li {% if page.url == link.url %}class="active"{% endif %}><a class="page-link" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a></li>{% endif %}{% endif %}{% endfor %}</ul>
          </header>
        </div>
        <div class="main col-md-6 col-md-offset-5">
          <section class="content">
            {{ content }}
          </section>
          <footer class="site-footer">
            <div class="row">
              <div class="col-md-5">
                {% include project_credit.html %}
              </div>
              <div class="col-md-5 col-md-offset-2 signup">
                {% include email_signup.html %}
              <div>
            </div>
          </footer>
        </div>
      </div>
    </div>
    {% include global/post_content_includes.html %}
  </body>
</html>
