---
layout: default
---

<article class="post" itemscope itemprop="blogPost" itemtype="http://schema.org/BlogPosting">
  <h1 itemprop="name headline author">{{ page.title }}</h1>
  {% if page.projects %}<h2 class="post-projects" itemprop="sourceOrganization keywords">{% include projects.html %}</h2>{% endif %}
  <time class="post-meta" datetime="{{ page.date | date: '%Y-%m-%d %H:%M:%S %Z' }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
  <div class="addthis_inline_share_toolbox"></div>
  {% if page.image and page.hide_image != true %}<img src="/img/posts/{{ page.image }}" class="post-image img-responsive" />{% endif %}
  <div class="post-content" itemprop="articleBody">
    {{ content }}
    {% if page.links %}<h3>More About {{ page.title }}:</h3>
    <div class="btn-group">
      {% for link in page.links %}
        <a class="btn btn-default btn-sm" target="_blank" href="{{ link.url }}">{{ link.name }}</a>
      {% endfor %}
    </div>{% endif %}
    {% if page.projects %}<h3>{{ page.title }}'s Projects:</h3>
    <div class="btn-group">
      {% for project in page.projects %}
        <a class="btn btn-default btn-sm" target="_blank" href="{{ project.link }}">{{ project.name }}</a>
      {% endfor %}
    </div>{% endif %}
  </div>
</article>
