---
layout: default
---

<article>
  <h1>{{ page.title }}</h1>
  {% if page.projects %}
    <p class="post-projects">{{ page.projects | join: ', ' }}</p>
  {% endif %}
  <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</p>
  <div class="post-content">
    {{ content }}

  {% if page.links %}
    <h3>Learn More:</h3>
    <div class="btn-group">
      {% for link in page.links %}
        <a class="btn btn-default btn-sm" target="_blank" href="{{ link.url }}">{{ link.name }}</a>
      {% endfor %}
    </div>
  {% endif %}
  </div>
</article>
